.app {
  text-align: center;
}

.btns_box {
  display: grid;
  grid-template-areas:
    "btn1 btn2"
    "btn3 btn3";
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  gap: 12px;
  max-width: 362px;
}

.btn1 {
  grid-area: btn1;
}

.btn2 {
  grid-area: btn2;
}

.btn3 {
  grid-area: btn3;
}

.circlex_box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input-form {
  display: flex;
  gap: 12px
}

.sort-form {
  align-items: center;
}

.grid-form {
  display: grid;
  grid-template-columns: 204px repeat(4, 175px);
  gap: 12px;
}

.demo-elements {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:48px
}

.circles {
  display: flex;
  gap: 40px 16px;
  align-items: center;
  flex-wrap: wrap;
  max-width: 950px;
}

.columns {
  display: flex;
  gap: 40px 16px;
  align-items: baseline;
  flex-wrap: wrap;
}

.grid-2 {
  grid-column: span 2;
}